<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>artifact_f5_godhammer_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,204},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,57},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>artifact_f5_godhammer_active_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,8},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>artifact_f5_eggsoul.png</string>
			</dict>
		</dict>
</plist>
			